.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    
}

.modal-main {
    position: fixed;
    margin: auto;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-main h1{
    color: white !important;
    text-decoration: none;
    

}
.modal-main h4{
    color: white !important;
    

}
.modal-main a{
    color: white !important;
    text-decoration: none;

}

.display-block {
    display: block;
}

.display-none {
    display: none;
}